*{
    outline: 4px solid blue;
    outline: none !important;
    transition: all ease-in-out 250ms;
}
body{
    margin: 0;
    /* background-color: #334257; */
    font-weight: 300;
    font-size: 25px;
    color: #EEEEEE;
}

header::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
    outline: 5px solid rgb(245, 141, 141);
    font-size: 28px;
}

.logo{
    float: left;
    margin: 3px;
    padding-top: 40px 0;
}

nav{
    float: right; 
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #EEEEEE;
    font-size: 13px;
}

nav li{
    padding-top: 25px;
    display: inline-block;
    margin-left: 70px;

    position: relative;
}
nav ul{

    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background-color: rgb(37, 77, 77);
}
nav a::before{

    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
nav a:hover{

    color: #000;
}

nav a:hover::before{

    width: 100%;
}

header:hover{
    transform: translateY(-3px);
    box-shadow: 5px 8px 8px rgb(26, 14, 14);
}

main {
    outline: 5px solid yellow;
    width: 100%;
    padding: 0px;
    margin: 0px;

}

section {
    outline: 5px solid rgb(73, 71, 194);
    padding: 40px;
    width: 80% auto;
    overflow: hidden;
}
.start{
    padding: 80px;
    background-color: rgb(65, 116, 116,.9);
    height: 320px;
    align-items: center;
    color: #211e1e;
}

.middle{
    padding: 80px;
    background-color: rgb(37, 77, 77);
    height: 350px;
}
.end {
    background-color: rgb(37, 77, 77);
    height: 250px;
}
.end:hover {
    background-color: rgb(42, 90, 96);

}
.first-main-div { 
    padding: 20px;
    outline: 5px solid rgb(70, 55, 55);

}

.second-main-div {
    padding: 2px;
}

.button{
    padding: 40px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    display: block;
    margin: 0px auto;
    background: rgb(35, 91, 91);
}

.button:hover{
    background: rgb(37, 92, 94);
    transform: translateY(-6px);
    box-shadow: 3px 4px 9px rgb(37, 77, 77);
}

.bitcoin-whitepaper {
    text-decoration: none;
}