body{
    margin: 0;
    background: #0095d3;
    font-weight: 300;
}

header::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    float: left;
    margin: 3px;
    padding-top: 40px 0;
}

nav{
    float: right;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    font-size: 14px;
}

nav li{
    padding-top: 25px;
    display: inline-block;
    margin-left: 70px;

    position: relative;
}
nav ul{

    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background: #22ad66;
}
nav a::before{

    content: "";
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
nav a:hover{

    color: #000;
}

nav a:hover::before{

    width: 100%;
}